.footer
	padding: 60px 0 55px
	background: #202020
	color: #B1B1B1
	&__wrap
		justify-content: space-between
	&__title
		margin-bottom: 12px
		color: var(--color-white)
	&__company
		width: 100%
		max-width: 262px
		font-size: 14px
		a
			font-size: 14px
	&__logo
		margin-bottom: 50px
		.logo
			&__img
				width: 140px
	&__req
		gap: 14px
		margin-bottom: 50px
		display: grid
	&__nav
		width: 100%
		max-width: 440px
	&__nav-links
		align-items: flex-start
		justify-content: space-between
	&__nav-col
		gap: 11px
		display: grid
	&__link
		font-size: 14px
		color: #B1B1B1
	&__contacts
		width: 100%
		max-width: 216px
	&__tel
		font-size: 18px
		font-weight: 600
		margin-bottom: 10px
		color: var(--color-white)
	&__item
		margin-bottom: 12px
		&:last-child
			margin-bottom: 0
	&__name
		font-size: 14px
		margin-bottom: 12px
		color: var(--color-white)
	&__text
		font-size: 14px
		line-height: 21px
		a
			color: #B1B1B1
	&__btn
		margin-top: 32px
		font-size: 14px
	&__links
		display: none

@media screen and (max-width: 1280px)
	.footer
		padding: 50px 0
		&__nav
			max-width: 340px

@media screen and (max-width: 1024px)
	.footer
		padding: 40px 0
		&__contacts
			margin-top: -100px

@media screen and (max-width: 767px)
	.footer
		&__nav
			margin-top: 24px
			max-width: 200px
		&__nav-links
			gap: 11px
			flex-direction: column
		&__contacts
			max-width: 262px
			margin-top: -260px

@media screen and (max-width: 580px)
	.footer
		padding: 32px 0
		&__company
			max-width: 100%
			display: flex
			text-align: center
			align-items: center
			flex-direction: column
			.footer
				&__req
					margin-bottom: 0
					a
						display: none
				&__copy
					display: none
		&__logo
			.logo
				&__img
					margin-left: auto
					margin-right: auto
		&__nav
			max-width: 100%
			text-align: center
		&__nav-links
			align-items: center
		&__contacts
			margin-top: 28px
			max-width: 100%
			text-align: center
		&__btn
			max-width: 270px
			margin-left: auto
			margin-right: auto
		&__links
			width: 100%
			display: block
			margin-top: 26px
			font-size: 14px
			a
				font-size: 14px
			.footer
				&__policy
					margin-bottom: 28px
