include ../../sys/pug/vars

footer.footer
	.case
		.footer__wrap.row
			.footer__company
				.footer__logo.logo
					.logo__img
						img(src="_/uploads/logo-white.svg", alt="")
				.footer__req
					p ИНН 501404121976
					p ОГРНИП 313507209800028
					a(href="/politika.pdf" target="_blank").link.--primary Политика конфиденциальности
				.footer__copy Copyright 2023 © Все права защищены
			.footer__nav
				.footer__title.h5 Навигация по сайту
				.footer__nav-links.row
					.footer__nav-col
						a.footer__link(href="") Главная
						a.footer__link(href="") Расчет стоимости
						a.footer__link(href="") Помощь в подборе
						a.footer__link(href="") Преимущества фанеры
						a.footer__link(href="") Виды работ
						a.footer__link(href="") Главная
						a.footer__link(href="") Расчет стоимости
						a.footer__link(href="") Помощь в подборе
						a.footer__link(href="") Преимущества фанеры
						a.footer__link(href="") Виды работ
						a.footer__link(href="") Главная
						a.footer__link(href="") Расчет стоимости
						a.footer__link(href="") Помощь в подборе
						a.footer__link(href="") Преимущества фанеры
						a.footer__link(href="") Виды работ
					.footer__nav-col
						a.footer__link(href="") Доставка и оплата
						a.footer__link(href="") Почему мы
						a.footer__link(href="") Распил фанеры
						a.footer__link(href="") Наши клиенты
						a.footer__link(href="") Контакты
			.footer__contacts
				a.footer__tel(href="tel:+79175030777") +7 (917) 503-07-77
				.footer__list
					.footer__item
						.footer__name Адрес склада
						.footer__text г. Москва, 41 км МКАД, #[br]ТК Мельница
					.footer__item
						.footer__name Режим работы:
						.footer__text
							p Пн-Пт с 09:00 до 22:00
							a(href="mailto:sale@fanera.msk.ru") sale@fanera.msk.ru
				.footer__btn.btn.--primary.--sm(data-fancybox data-src="#modal-callback" href="javascript:;") Заказать звонок

.modal.--static#modal-callback
	.modal__form.form
		.form__title.h3.tac Заказать звонок
		.form__text.h5.tac Введите телефон, наш специалист свяжется с вами в течение 5 минут для уточнения всех деталей
		form.form__fields
			.form__field.field.--required.--name
				.field__wrap
					.field__icon
						img(src="_/uploads/icons/person-gray.svg", alt="")
					input.field__area(type="name" name="name" placeholder="Как к вам обращаться*")
			.form__field.field.--required.--tel
				.field__wrap
					.field__icon
						img(src="_/uploads/icons/tel-gray.svg", alt="")
					input.field__area(type="tel" name="tel" placeholder="Ваш телефон*")
		.form__btn.btn.--primary Отправить заявку
		.form__policy.tac Нажимая на кнопку вы соглашаетесь с условиями #[a(href="/politika.pdf" target="_blank").link.inline обработки данных] #[br]и #[a(href="/politika.pdf" target="_blank").link.inline политикой конфиденциальности]

.modal.--static#modal-price
	.modal__form.form
		.form__title.h3.tac Узнать стоимость
		.form__text.h5.tac Введите телефон, наш специалист свяжется с вами в течение 5 минут для уточнения всех деталей
		form.form__fields
			.form__field.field.--required.--name
				.field__wrap
					.field__icon
						img(src="_/uploads/icons/person-gray.svg", alt="")
					input.field__area(type="name" name="name" placeholder="Как к вам обращаться*")
			.form__field.field.--required.--tel
				.field__wrap
					.field__icon
						img(src="_/uploads/icons/tel-gray.svg", alt="")
					input.field__area(type="tel" name="tel" placeholder="Ваш телефон*")
		.form__btn.btn.--primary Узнать стоимость
		.form__policy.tac Нажимая на кнопку вы соглашаетесь с условиями #[a(href="/politika.pdf" target="_blank").link.inline обработки данных] #[br]и #[a(href="/politika.pdf" target="_blank").link.inline политикой конфиденциальности]

.modal.--static#modal-consult
	.modal__form.form
		.form__title.h3.tac Получить консультацию
		.form__text.h5.tac Введите телефон, наш специалист свяжется с вами в течение 5 минут для уточнения всех деталей
		form.form__fields
			.form__field.field.--required.--name
				.field__wrap
					.field__icon
						img(src="_/uploads/icons/person-gray.svg", alt="")
					input.field__area(type="name" name="name" placeholder="Как к вам обращаться*")
			.form__field.field.--required.--tel
				.field__wrap
					.field__icon
						img(src="_/uploads/icons/tel-gray.svg", alt="")
					input.field__area(type="tel" name="tel" placeholder="Ваш телефон*")
		.form__btn.btn.--primary Получить консультацию
		.form__policy.tac Нажимая на кнопку вы соглашаетесь с условиями #[a(href="/politika.pdf" target="_blank").link.inline обработки данных] #[br]и #[a(href="/politika.pdf" target="_blank").link.inline политикой конфиденциальности]
