@import fonts
@import vars
@import reset
@import grid

// @import ../../components/btn/btn

// TYPOGRAPHY	
.h1
	font-size: px
	line-height: px

.h2
	font-size: px
	line-height: px

.h3
	font-size: px
	line-height: px

.h4
	font-size: px
	line-height: px

.h5
	font-size: px
	line-height: px

// COMMON ELEMENTS
.inner
	overflow: hidden

.overflow-disable
	overflow: hidden

.pt0
	padding-top: 0 !important

.pb0
	padding-bottom: 0 !important

.tac
	text-align: center

.bg
	z-index: 1
	position: relative
	&-img
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: -1
		position: absolute
		picture, img
			width: 100%
			height: 100%
			object-fit: cover

.cover
	picture, img
		width: 100%
		height: 100%
		object-fit: cover

.logo
	width: 100%
	display: block

// ANIMATION
.fadeIn
	opacity: 0
	&.--loaded
		opacity: 1
		transition: 1.5s
		transition-property: opacity
