@import fonts
@import vars
@import reset
@import grid

@import ../../components/btn/btn
@import ../../components/field/field
@import ../../components/modal/modal

// TYPOGRAPHY	
.h1
	font-size: 48px
	line-height: 62px

.h2
	font-size: 40px
	line-height: 58px

.h3
	font-size: 32px
	line-height: 38px

.h4
	font-size: 22px
	line-height: 34px

.h5
	font-size: 18px
	line-height: 22px

.t1
	font-size: 12px
	line-height: 21px

// COMMON ELEMENTS
.inner
	overflow: hidden

.overflow-disable
	overflow: hidden

.pt0
	padding-top: 0 !important

.pb0
	padding-bottom: 0 !important

.tac
	text-align: center

.bg
	z-index: 1
	position: relative
	&-img
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: -1
		position: absolute
		picture, img
			width: 100%
			height: 100%
			object-fit: cover

.cover
	picture, img
		width: 100%
		height: 100%
		object-fit: cover

.logo
	width: 100%
	display: flex
	align-items: center
	&__img
		width: 127px
	&__text
		width: calc( 100% - 127px )
		color: var(--color-gray-2)
		padding-left: 64px
		position: relative
		&:before
			left: 32px
			top: 50%
			width: 1px
			height: 100%
			transform: translateY(-50%)
			background: #D3D3D3
			position: absolute
			content: ""

.link
	font-weight: 600
	color: var(--color-secondary)
	text-decoration: underline
	text-underline-offset: 2px
	&:hover
		text-decoration-color: transparent

.tel
	font-feature-settings: 'tnum' on, 'lnum' on

.decor-item
	position: absolute

.decor-bottom
	bottom: 0
	left: 50%
	width: 100%
	z-index: -1
	transform: translateX(-50%)
	position: absolute

// ANIMATION
.fadeIn
	opacity: 0
	&.--loaded
		opacity: 1
		transition: 1.5s
		transition-property: opacity

.side-panel
	top: 50%
	right: 0
	z-index: 50
	min-width: 120px
	transform: translateY(-50%)
	transition: var(--transition)
	position: fixed
	&__list
		gap: 8px
		display: flex
		align-items: flex-end
		flex-direction: column
	&__item
		width: 110px
		min-height: 100px
		color: var(--color-white)
		background: linear-gradient(236.26deg, #DA9F00 -0.24%, #FAC22B -0.23%, #DA9F00 73.63%)
		border-radius: var(--border) 0 0 var(--border)
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		text-align: center
		&:hover
			width: 120px
	a[href^="https://wa.me/"]
		background: #12C868
	&__text
		font-size: 12px
		margin-top: 8px
	&__close
		width: 35px
		height: 35px
		left: 50%
		margin-top: 12px
		margin-left: 8px
		border-radius: 50%
		transform: translateX(-50%)
		background: linear-gradient(227.75deg, #DA9F00 5.11%, #FCC532 76.14%)
		transition: var(--transition)
		position: absolute
		cursor: pointer
		&:before
			top: 50%
			left: 50%
			width: 12px
			height: 12px
			transform: translate(-50%, -50%)
			background: url('../../uploads/icons/close.svg') no-repeat
			background-size: contain
			position: absolute
			content: ""
	&.--closed
		opacity: 0
		visibility: hidden
		pointer-events: none

.intro
	padding: 146px 0 170px
	overflow: hidden
	&__info
		width: 100%
		max-width: 690px
	&__label
		font-weight: 600
		padding: 10px 25px
		margin-bottom: 14px
		color: #A1AEC5
		background: rgba(192, 211, 242, 0.4)
		border-radius: var(--border)
		width: max-content
	&__title
		margin-bottom: 18px
	&__subtitle
		padding-left: 78px
		position: relative
		&:before
			left: 0
			top: 18px
			width: 55px
			height: 3px
			background: var(--color-secondary)
			position: absolute
			content: ""
	&__act
		margin-top: 42px
	&__btn
		max-width: 358px
	&__desc
		max-width: 230px
		margin-left: 100px
		margin-top: -30px
		line-height: 22px
		font-size: 14px
		position: relative
		&:before
			left: -58px
			bottom: 30px
			width: 78px
			height: 18px
			background: url('../../uploads/icons/arrow-decor.svg') no-repeat
			background-size: contain
			position: absolute
			content: ""
	&__preview
		width: calc( 100% - 690px )
		display: flex
		flex-direction: column
	&__img
		width: 100%
		position: absolute
	&__note
		z-index: 1
		left: 28px
		margin-bottom: 28px
		display: flex
		margin-top: auto
		align-items: center
		justify-content: center
		flex-direction: column
		position: relative
		&:before
			top: 50%
			left: 50%
			z-index: -1
			width: 230px
			height: 230px
			transform: translate(-50%, -50%)
			background: url('../../uploads/icons/note-bg.svg') no-repeat
			background-size: contain
			position: absolute
			content: ""
		&-icon
			margin-bottom: 14px
		&-text
			width: 100%
			max-width: 160px
			p
				margin-bottom: 8px
				&:last-child
					margin-bottom: 0
	&__decor
		&-item
			&:nth-of-type(1)
				left: 0
				bottom: 0
			&:nth-of-type(2)
				right: 0
				bottom: 0
			&:nth-of-type(3)
				top: 0
				right: 0

.pros
	z-index: 2
	margin-top: -120px
	position: relative
	&__list
		gap: 20px
		display: grid
		grid-template-columns: repeat(3, 1fr)
	&__item
		min-height: 220px
		padding: 16px 30px 24px
		border-radius: var(--border)
		background: var(--color-white)
		box-shadow: 0px 44px 92px rgba(0, 0, 0, 0.07)
		display: flex
		align-items: center
		text-align: center
		flex-direction: column
		position: relative
		&:before
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: calc( 100% - 14px )
			height: calc( 100% - 14px )
			border: 1px solid #D6D6D6
			border-radius: var(--border)
			position: absolute
			content: ""
	&__icon
		margin-bottom: 5px
	&__name
		font-weight: 600
		margin-bottom: 8px
	&__text
		font-size: 14px
		line-height: 24px
		color: var(--color-gray-2)

.quiz
	padding: 40px 0 118px
	&__title
		margin-bottom: 40px
	&__wrap
		min-height: 710px
		background: var(--color-white)
		border-radius: var(--border)
		box-shadow: 0px 16px 92px rgba(0, 0, 0, 0.07)
	&__decor
		&-item
			&:nth-of-type(1)
				top: -50px
				left: -350px
			&:nth-of-type(2)
				bottom: 220px
				right: -300px
