@import fonts
@import vars
@import reset
@import grid

@import ../../components/btn/btn
@import ../../components/field/field
@import ../../components/check/check
@import ../../components/modal/modal
@import ../../components/slider/slider

// TYPOGRAPHY	
.h1
	font-size: 48px
	line-height: 62px

.h2
	font-size: 40px
	line-height: 58px

.h3
	font-size: 32px
	line-height: 38px

.h4
	font-size: 22px
	line-height: 34px

.h5
	font-size: 18px
	line-height: 28px

.t1
	font-size: 12px
	line-height: 21px

// COMMON ELEMENTS
.inner
	overflow: hidden

.overflow-disable
	overflow: hidden

.pt0
	padding-top: 0 !important

.pb0
	padding-bottom: 0 !important

.tac
	text-align: center

.bg
	z-index: 1
	position: relative
	&-img
		top: 0
		left: 0
		right: 0
		bottom: 0
		z-index: -1
		position: absolute
		picture, img
			width: 100%
			height: 100%
			object-fit: cover

.cover
	picture, img
		width: 100%
		height: 100%
		object-fit: cover

.logo
	width: 100%
	display: flex
	align-items: center
	&__img
		width: 127px
	&__text
		width: calc( 100% - 127px )
		color: var(--color-gray-2)
		padding-left: 64px
		position: relative
		&:before
			left: 32px
			top: 50%
			width: 1px
			height: 100%
			transform: translateY(-50%)
			background: #D3D3D3
			position: absolute
			content: ""

.link
	font-weight: 600
	color: var(--color-secondary)
	text-decoration: underline
	text-underline-offset: 2px
	&:hover
		text-decoration-color: transparent
	&.--primary
		color: var(--color-primary)

.inline
	display: inline

.tel
	font-feature-settings: 'tnum' on, 'lnum' on

.decor-item
	z-index: -1
	position: absolute

.decor-bottom
	bottom: 0
	left: 50%
	width: 100%
	z-index: -1
	transform: translateX(-50%)
	position: absolute

.bg-green
	font-weight: 600
	padding: 2px 5px
	background: var(--color-secondary)
	border-radius: var(--border-sm)

.form
	width: 100%
	padding: 46px 30px
	box-shadow: 0px 4px 92px rgba(0, 0, 0, 0.07)
	background: var(--color-white)
	border-radius: var(--border)
	&__title
		font-size: 28px
		font-weight: 600
		margin-bottom: 24px
	&__subtitle
		margin-bottom: 24px
		color: #545454
	&__fields
		gap: 20px
		display: grid
	&__btn
		margin-top: 16px
	&__policy
		margin-top: 30px
		font-size: 12px
		line-height: 18px
		color: #828B9A
		a
			font-size: 12px

	&.--w3
		.form
			&__fields
				grid-template-columns: repeat(3, 1fr)
			&__btn
				margin-top: 0
			&__policy
				font-size: 14px
				a
					font-size: 14px

// MAIN
.side-panel
	top: 50%
	right: 0
	z-index: 50
	min-width: 120px
	transform: translateY(-50%)
	transition: var(--transition)
	position: fixed
	&__list
		gap: 8px
		display: flex
		align-items: flex-end
		flex-direction: column
	&__item
		width: 110px
		min-height: 100px
		color: var(--color-white)
		background: linear-gradient(236.26deg, #DA9F00 -0.24%, #FAC22B -0.23%, #DA9F00 73.63%)
		border-radius: var(--border) 0 0 var(--border)
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		text-align: center
		&:hover
			width: 120px
	a[href^="https://wa.me/"]
		background: #12C868
	&__text
		font-size: 12px
		margin-top: 8px
	&__close
		width: 35px
		height: 35px
		left: 50%
		margin-top: 12px
		margin-left: 8px
		border-radius: 50%
		transform: translateX(-50%)
		background: linear-gradient(227.75deg, #DA9F00 5.11%, #FCC532 76.14%)
		transition: var(--transition)
		position: absolute
		cursor: pointer
		&:before
			top: 50%
			left: 50%
			width: 12px
			height: 12px
			transform: translate(-50%, -50%)
			background: url('../../uploads/icons/close.svg') no-repeat
			background-size: contain
			position: absolute
			content: ""
	&.--closed
		opacity: 0
		visibility: hidden
		pointer-events: none

.intro
	padding: 146px 0 170px
	overflow: hidden
	&__info
		width: 100%
		max-width: 690px
	&__label
		font-weight: 600
		padding: 10px 25px
		margin-bottom: 14px
		color: #A1AEC5
		background: rgba(192, 211, 242, 0.4)
		border-radius: var(--border)
		width: max-content
	&__title
		margin-bottom: 18px
	&__subtitle
		padding-left: 78px
		position: relative
		&:before
			left: 0
			top: 18px
			width: 55px
			height: 3px
			background: var(--color-secondary)
			position: absolute
			content: ""
	&__act
		margin-top: 42px
	&__btn
		max-width: 358px
	&__desc
		max-width: 230px
		margin-left: 100px
		margin-top: -30px
		line-height: 22px
		font-size: 14px
		position: relative
		&:before
			left: -58px
			bottom: 30px
			width: 78px
			height: 18px
			background: url('../../uploads/icons/arrow-decor.svg') no-repeat
			background-size: contain
			position: absolute
			content: ""
	&__preview
		width: calc( 100% - 690px )
		display: flex
		flex-direction: column
	&__img
		width: 100%
		max-width: 864px
		position: absolute
	&__note
		z-index: 1
		left: 28px
		margin-bottom: 28px
		display: flex
		margin-top: auto
		align-items: center
		justify-content: center
		flex-direction: column
		position: relative
		&:before
			top: 50%
			left: 50%
			z-index: -1
			width: 230px
			height: 230px
			transform: translate(-50%, -50%)
			background: url('../../uploads/icons/note-bg.svg') no-repeat
			background-size: contain
			position: absolute
			content: ""
		&-icon
			margin-bottom: 14px
		&-text
			width: 100%
			max-width: 160px
			p
				margin-bottom: 8px
				&:last-child
					margin-bottom: 0
	&__decor
		&-item
			&:nth-of-type(1)
				left: 0
				bottom: 0
			&:nth-of-type(2)
				right: 0
				bottom: 0
				z-index: 1
			&:nth-of-type(3)
				top: 0
				right: 0

.pros
	z-index: 2
	margin-top: -120px
	position: relative
	&__list
		gap: 20px
		display: grid
		grid-template-columns: repeat(3, 1fr)
	&__item
		min-height: 220px
		padding: 16px 30px 24px
		border-radius: var(--border)
		background: var(--color-white)
		box-shadow: 0px 44px 92px rgba(0, 0, 0, 0.07)
		display: flex
		align-items: center
		text-align: center
		flex-direction: column
		position: relative
		&:before
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: calc( 100% - 14px )
			height: calc( 100% - 14px )
			border: 1px solid #D6D6D6
			border-radius: var(--border)
			position: absolute
			content: ""
	&__icon
		margin-bottom: 5px
	&__name
		font-weight: 600
		line-height: 22px
		margin-bottom: 8px
	&__text
		font-size: 14px
		line-height: 24px
		color: var(--color-gray-2)

.quiz
	padding: 40px 0 116px
	position: relative
	&__title
		margin-bottom: 40px
	&__wrap
		padding: 40px 65px
		min-height: 710px
		background: var(--color-white)
		border-radius: var(--border)
		box-shadow: 0px 16px 92px rgba(0, 0, 0, 0.07)
		position: relative
	&__step
		opacity: 0
		visibility: hidden
		pointer-events: none
		&.--active
			opacity: 1
			visibility: visible
			pointer-events: all
	&__head
		display: flex
		align-items: center
		flex-direction: column
	&__num
		font-size: 18px
		color: var(--color-gray-2)
	&__arrow
		top: 28px
		width: 59px
		height: 59px
		border-radius: 50%
		background: var(--color-primary)
		transition: var(--transition)
		cursor: pointer
		display: flex
		align-items: center
		justify-content: center
		position: absolute
		&:hover
			background: darken(#FBCC50, 10%)
		&.--prev
			left: 65px
		&.--next
			right: 65px

	&__decor
		&-item
			&:nth-of-type(1)
				top: -50px
				left: -350px
			&:nth-of-type(2)
				bottom: 220px
				right: -300px

.consult
	padding: 78px 0 96px
	&__info
		z-index: 1
		width: 100%
		max-width: 440px
		color: var(--color-white)
		position: relative
	&__title
		font-weight: 700
		margin-bottom: 20px
	&__subtitle
		font-size: 24px
		line-height: 36px
	&__pros
		gap: 25px
		margin-top: 20px
		margin-left: 20px
		display: flex
		flex-direction: column
		&-item
			width: 100%
			padding: 32px 32px 32px 40px
			max-width: 416px
			box-shadow: 0px 24px 92px rgba(0, 0, 0, 0.27)
			background: var(--color-white)
			border-radius: var(--border)
			color: var(--color-black)
			position: relative
			&:before
				top: 50%
				left: -23px
				width: 46px
				height: 46px
				transform: translateY(-50%)
				background: url('../../uploads/icons/check-border.svg') no-repeat
				background-size: contain
				position: absolute
				content: ""
	&__preview
		left: 50%
		bottom: -96px
		margin-left: -15px
		transform: translateX(-50%)
		position: absolute
	&__img
		max-width: 590px
	&__person
		z-index: 1
		left: 50%
		bottom: 140px
		transform: translateX(-50%)
		color: var(--color-white)
		position: absolute
		width: max-content
		&-name
			padding: 10px 42px
			font-weight: 600
			position: relative
			z-index: 1
			&:before
				top: 50%
				left: 50%
				z-index: -1
				width: 100%
				height: 100%
				transform: translate(-50%, -50%) skew(-18deg)
				background: var(--color-secondary)
				border-radius: var(--border-sm)
				position: absolute
				content: ""
		&-duty
			font-size: 14px
			font-weight: 600
			line-height: 24px
			margin-top: 14px
	&__form
		z-index: 1
		max-width: 463px
		margin-left: auto
		position: relative

.qual
	padding: 55px 0 65px
	&__title
		margin-bottom: 45px
	&__img
		left: 50%
		max-width: 568px
		transform: translateX(-50%)
		position: absolute
	&__list
		gap: 30px 0
		display: grid
		grid-template-columns: repeat(2, 1fr)
	&__item
		width: 100%
		padding: 24px
		max-width: 320px
		border-radius: 24px
		background: var(--color-white)
		box-shadow: 0px 44px 92px rgba(0, 0, 0, 0.13)
		display: flex
		align-items: center
		justify-content: center
		text-align: center
		flex-direction: column
		&:nth-of-type(even)
			margin-left: auto
		&:nth-of-type(1), &:nth-of-type(5)
			margin-left: 46px
		&:nth-of-type(2), &:nth-of-type(6)
			margin-right: 46px
	&__icon
		margin-bottom: 4px
	&__name
		font-size: 18px
		font-weight: 700
		line-height: 21px
		min-height: 42px
		margin-bottom: 4px
		color: var(--color-secondary)
		display: flex
		align-items: center
		justify-content: center
	&__text
		font-size: 14px
		line-height: 24px
		color: var(--color-text)
	&__btn
		max-width: 400px
		margin-top: -20px
		margin-left: auto
		margin-right: auto

.type
	padding: 54px 0 98px
	position: relative
	&__title
		margin-bottom: 38px
	&__list
		gap: 14px 12px
		display: grid
		grid-template-columns: repeat(4, 1fr)
	&__item
		padding: 8px
		min-height: 440px
		box-shadow: 0px 44px 92px rgba(0, 0, 0, 0.07)
		background: var(--color-white)
		border-radius: var(--border)
		flex-direction: column
		display: flex
	&__img
		height: 190px
		border-radius: var(--border) var(--border) 0 0
		overflow: hidden
	&__info
		display: flex
		flex-direction: column
		height: calc( 100% - 190px )
	&__name
		font-weight: 700
		margin: 20px 0
	&__text
		font-size: 14px
		line-height: 24px
		margin-bottom: 16px
		color: var(--color-text)
	&__btn
		margin-top: auto
	&__decor
		&-item
			&:nth-of-type(1)
				bottom: 50px
				left: 0
			&:nth-of-type(2)
				top: 0
				right: 0

.order
	padding: 36px 0 48px
	color: var(--color-white)
	&:before
		inset: 0
		z-index: -1
		width: 100%
		height: 100%
		background: linear-gradient(75.56deg, #4FA559 29.39%, #6DD37A 108.77%)
		position: absolute
		content: ""
	&__title
		font-weight: 700
		margin-bottom: 14px
	&__subtitle
		font-size: 26px
		margin-bottom: 48px
	&__fields
		gap: 24px
		display: grid
		justify-content: center
		grid-template-columns: 426px 364px
	&__btn
		font-size: 14px
	&__policy
		margin-top: 24px
		font-size: 14px
		line-height: 18px
		a
			font-size: 14px
	&__bg
		opacity: 16%

.why
	padding: 65px 0 104px
	position: relative
	&__title
		font-weight: 700
		margin-bottom: 50px
	&__list
		margin: -16px
	&__item
		padding: 36px
		margin: 16px
		width: calc( 100% / 3 - 32px)
		border-radius: var(--border)
		overflow: hidden
		&.--w2
			width: calc( 50% - 32px)
			min-height: 295px
		&:nth-of-type(1)
			.why
				&__img
					right: -46px
		&:nth-of-type(3)
			.why
				&__img
					right: -170px
					bottom: -10px
		&:nth-of-type(4)
			.why
				&__img
					right: -130px
					bottom: -40px
		&:nth-of-type(5)
			.why
				&__img
					right: -70px
					bottom: 50px
	&__info
		z-index: 1
		max-width: 250px
		position: relative
	&__name
		font-weight: 700
		margin-bottom: 20px
	&__text
		line-height: 27px
	&__img
		right: 0
		bottom: 0
		position: absolute
	&__decor
		&-item
			&:nth-of-type(1)
				left: 0
				bottom: 0
			&:nth-of-type(2)
				right: 0
				bottom: 0
				transform: scale(-1, 1)
			&:nth-of-type(3)
				left: 0
				bottom: 150px
				max-width: 160px
				transform: rotate(10deg)
			&:nth-of-type(4)
				top: 280px
				right: -10px
				max-width: 160px

.gallery
	padding: 52px 0 56px
	background: var(--color-gray)
	&__title
		margin-bottom: 54px
	&__slider
		overflow: visible
		&-wrap
			height: 447px
			align-items: center
		&-slide
			opacity: 0
			height: 313px
			width: 478px
			border-radius: var(--border)
			transition: var(--transition)
			overflow: hidden
			&.swiper-slide-active
				width: 680px
				height: 447px
			&.swiper-slide-prev, &.swiper-slide-active, &.swiper-slide-next
				opacity: 1
		&-arrow
			&.swiper-button-prev
				left: 225px
			&.swiper-button-next
				right: 225px

.delivery
	padding: 65px 0
	&__img
		height: 630px
		margin-left: -362px
		border-radius: 48px
		overflow: hidden
	&__info
		width: 100%
		max-width: 630px
		padding-top: 30px
		padding-left: 74px
		margin-left: auto
	&__title
		margin-bottom: 38px
	&__list
		gap: 36px
		margin-left: 10px
		display: flex
		flex-direction: column
	&__item
		display: flex
		flex-wrap: wrap
		align-items: center
	&__icon
		width: 41px
	&__text
		width: calc( 100% - 41px )
		padding-left: 28px
		font-size: 18px
		line-height: 22px
	&__btn
		margin-top: 64px

.reviews
	padding: 50px 0 40px
	position: relative
	background: var(--color-gray)
	&__title
		font-weight: 700
		margin-bottom: 38px
	&__slider
		max-width: 750px
		margin-left: auto
		margin-right: auto
		overflow: visible
		&-wrap
			height: 573px
			align-items: flex-start
		&-slide
			opacity: 0
			width: 202px
			height: 517px
			transition: var(--transition)
			overflow: hidden
			.reviews
				&__img
					height: 434px
					clip-path: path('M0 405.431V29.3819C0 28.2846 0 27.1889 0.00764444 26.0916C0.0122311 25.1687 0.0244622 24.2444 0.0489244 23.3215C0.102436 21.309 0.221689 19.2797 0.57792 17.2902C0.940267 15.2701 1.53195 13.3907 2.4661 11.5558C3.38343 9.7514 4.58055 8.10315 6.01006 6.67222C7.43804 5.24282 9.08619 4.04298 10.8887 3.12473C12.7204 2.19118 14.5978 1.59892 16.6144 1.23621C18.602 0.878094 20.6308 0.760252 22.6413 0.705157C23.5632 0.680671 24.4867 0.669958 25.4101 0.663836C26.5048 0.657715 27.601 0.657715 28.6957 0.657715H41.0681C42.7998 0.657715 44.2102 2.03462 44.2663 3.75439V4.92862C44.2663 11.4152 49.5195 16.6736 55.9997 16.6736H144C150.48 16.6736 155.733 11.4152 155.733 4.92862V3.76152C155.785 2.03843 157.197 0.657715 158.932 0.657715H171.304C172.4 0.657715 173.497 0.657715 174.591 0.663836C175.515 0.669958 176.437 0.680671 177.36 0.705157C179.371 0.760252 181.398 0.878094 183.387 1.23621C185.404 1.59892 187.281 2.19118 189.113 3.12473C190.915 4.04298 192.562 5.24282 193.991 6.67222C195.421 8.10315 196.618 9.7514 197.535 11.5558C198.47 13.3907 199.061 15.2701 199.424 17.2902C199.78 19.2797 199.899 21.309 199.953 23.3215C199.977 24.2444 199.988 25.1687 199.994 26.0916C200 27.1889 200 28.2846 200 29.3819V405.431C200 406.528 200 407.624 199.994 408.721C199.988 409.644 199.977 410.568 199.953 411.491C199.899 413.503 199.78 415.533 199.424 417.522C199.061 419.542 198.47 421.423 197.535 423.258C196.618 425.061 195.421 426.709 193.991 428.139C192.562 429.571 190.915 430.77 189.113 431.688C187.281 432.621 185.404 433.214 183.387 433.576C181.398 433.933 179.371 434.054 177.36 434.107C176.437 434.132 175.515 434.143 174.591 434.149C173.497 434.155 172.4 434.155 171.304 434.155H28.6957C27.601 434.155 26.5048 434.155 25.4101 434.149C24.4867 434.143 23.5632 434.132 22.6413 434.107C20.6308 434.054 18.602 433.933 16.6144 433.576C14.5978 433.214 12.7204 432.621 10.8887 431.688C9.08619 430.77 7.43804 429.571 6.01006 428.139C4.58055 426.709 3.38343 425.061 2.4661 423.258C1.53195 421.423 0.940267 419.542 0.57792 417.522C0.221689 415.533 0.102436 413.503 0.0489244 411.491C0.0244622 410.568 0.0122311 409.644 0.00764444 408.721C0 407.624 0 406.528 0 405.431Z')
			&.swiper-slide-active
				width: 231px
				height: 573px
				.reviews
					&__img
						height: 498px
						margin-top: -5px
						clip-path: path('M0 463.154V33.1489C0 31.8942 0 30.6412 0.00874129 29.3864C0.0139861 28.3312 0.0279721 27.2742 0.0559443 26.2189C0.117133 23.9177 0.253498 21.5972 0.660842 19.3222C1.07518 17.0122 1.75176 14.8632 2.81994 12.7649C3.8689 10.7017 5.23778 8.81696 6.87241 7.18071C8.50528 5.54621 10.3899 4.17422 12.4511 3.12422C14.5455 2.05672 16.6924 1.37947 18.9983 0.964721C21.2711 0.555222 23.591 0.420472 25.89 0.357473C26.9442 0.329473 28.0001 0.317223 29.0561 0.310223C30.3078 0.303223 31.5613 0.303223 32.8131 0.303223H46.9608C48.9417 0.303223 50.555 1.87891 50.618 3.84649V5.18693C50.618 12.6042 56.6249 18.6171 64.0349 18.6171H164.661C172.071 18.6171 178.078 12.6042 178.078 5.18693V3.84332C178.143 1.87721 179.756 0.303223 181.735 0.303223H195.884C197.137 0.303223 198.391 0.303223 199.642 0.310223C200.698 0.317223 201.753 0.329473 202.808 0.357473C205.107 0.420472 207.426 0.555222 209.7 0.964721C212.006 1.37947 214.153 2.05672 216.247 3.12422C218.309 4.17422 220.191 5.54621 221.826 7.18071C223.461 8.81696 224.83 10.7017 225.878 12.7649C226.947 14.8632 227.623 17.0122 228.038 19.3222C228.445 21.5972 228.581 23.9177 228.642 26.2189C228.67 27.2742 228.683 28.3312 228.69 29.3864C228.697 30.6412 228.697 31.8942 228.697 33.1489V463.154C228.697 464.409 228.697 465.662 228.69 466.917C228.683 467.972 228.67 469.029 228.642 470.084C228.581 472.385 228.445 474.706 228.038 476.981C227.623 479.291 226.947 481.442 225.878 483.54C224.83 485.601 223.461 487.486 221.826 489.121C220.191 490.759 218.309 492.129 216.247 493.179C214.153 494.246 212.006 494.924 209.7 495.338C207.426 495.746 205.107 495.884 202.808 495.946C201.753 495.974 200.698 495.986 199.642 495.993C198.391 496 197.137 496 195.884 496H32.8131C31.5613 496 30.3078 496 29.0561 495.993C28.0001 495.986 26.9442 495.974 25.89 495.946C23.591 495.884 21.2711 495.746 18.9983 495.338C16.6924 494.924 14.5455 494.246 12.4511 493.179C10.3899 492.129 8.50528 490.759 6.87241 489.121C5.23778 487.486 3.8689 485.601 2.81994 483.54C1.75176 481.442 1.07518 479.291 0.660842 476.981C0.253498 474.706 0.117133 472.385 0.0559443 470.084C0.0279721 469.029 0.0139861 467.972 0.00874129 466.917C0 465.662 0 464.409 0 463.154Z')
			&.swiper-slide-prev, &.swiper-slide-active, &.swiper-slide-next
				opacity: 1
		&-arrow
			margin-top: 30px
			&.swiper-button-prev
				left: 140px
			&.swiper-button-next
				right: 140px
		&-pagination
			margin-top: 28px
			.swiper-pagination
				&-bullet
					background: #C7C7C7
				&-bullet-active
					background: var(--color-primary)
	&__person
		display: flex
		align-items: center
		margin-bottom: 32px
	&__icon
		width: 51px
		height: 51px
		background: #D8D8D8
		border-radius: 50%
		overflow: hidden
	&__info
		width: calc( 100% - 51px )
		padding-left: 16px
	&__name
		font-size: 18px
		font-weight: 600
		margin-bottom: 2px
	&__city
		font-size: 14px
		color: var(--color-gray-2)
	&__img
		width: 100%
		height: 100%
		transition: var(--transition)
		img
			width: 100%
			height: 100%
			object-position: top
	&__decor
		&-item
			&:nth-of-type(1)
				left: 200px
				bottom: 200px
				max-width: 230px
			&:nth-of-type(2)
				top: 120px
				right: 160px
				transform: rotate(15deg)

.quest
	padding: 56px 0 118px
	&__title
		font-weight: 600
		margin-bottom: 24px
	&__subtitle
		font-size: 24px
		line-height: 36px
		margin-bottom: 48px
	&__call
		margin-top: 24px
		&-wrap
			align-items: center
			justify-content: center
		&-title
			font-size: 24px
			margin-bottom: 24px
		&-link
			font-size: 40px
			font-weight: 700
			margin-left: 12px

.contacts
	padding: 125px 0 50px
	position: relative
	&__wrap
		z-index: 2
		max-width: 682px
		margin-left: auto
		position: relative
	&__info
		padding: 48px 70px 84px
		color: var(--color-white)
		border-radius: var(--border)
		background: var(--color-secondary)
		a
			color: var(--color-white)
	&__title
		margin-bottom: 24px
	&__list
		gap: 12px
		display: flex
		flex-direction: column
	&__item
		display: flex
		align-items: center
	&__icon
		width: 19px
		display: flex
		justify-content: center
	&__text
		width: calc( 100% - 19px )
		padding-left: 18px
	&__img
		height: 204px
		max-width: 292px
		margin-right: 34px
		margin-top: -122px
		margin-left: auto
		overflow: hidden
		border-radius: var(--border)

.map
	top: 0
	width: 100%
	height: 100%
	position: absolute
	&__area
		height: 100%

.ymaps-2-1-79-copyrights-pane
	display: none

.ymaps-2-1-79-ground-pane
	filter: grayscale(100%)
	-webkit-filter: grayscale(100%)

@media screen and (max-width: 1280px)
	.h1
		font-size: 44px
		line-height: 56px

	.h3
		font-size: 30px
		line-height: 36px

	.logo
		&__img
			width: 110px
		&__text
			width: calc( 100% - 110px )
			padding-left: 32px
			&:before
				left: 16px

	.intro
		padding: 130px 0 170px
		&__info
			max-width: 550px
		&__label
			padding: 8px 25px
			margin-bottom: 8px
			border-radius: var(--border-md)
		&__act
			flex-direction: column
		&__desc
			max-width: 280px
			margin-top: 16px
			text-align: center
			margin-left: 30px
			&:before
				display: none
			br
				display: none
		&__preview
			width: calc( 100% - 550px )
		&__img
			margin-left: -50px
		&__decor
			&-item
				&:nth-of-type(1)
					left: -70px
				&:nth-of-type(3)
					max-width: 160px

	.pros
		margin-top: -80px
		&__list
			gap: 12px
		&__item
			padding: 16px 16px 24px
		&__text
			br
				display: none

	.quiz
		&__decor
			&-item
				&:nth-of-type(1)
					top: 0
					left: -250px
					max-width: 250px

	.consult
		&__preview
			top: 0
			transform: none
			margin-left: 0
			bottom: auto
		&__img
			width: 520px
			max-width: 520px
		&__form
			max-width: 100%
			margin-top: 32px
			.form
				&__subtitle
					br
						display: none
				&__fields
					grid-template-columns: repeat(3, 1fr)
				&__btn
					min-height: 80px
					font-size: 16px
					margin-top: 0
				&__policy
					br
						display: none

	.qual
		&__img
			top: 120px
		&__list
			gap: 16px
			z-index: 1
			max-width: 650px
			margin-top: 250px
			position: relative
			margin-left: auto
			margin-right: auto
		&__item
			&:nth-of-type(1), &:nth-of-type(5)
				margin-left: 0
			&:nth-of-type(2), &:nth-of-type(6)
				margin-right: 0
		&__btn
			margin-top: 16px

	.type
		&__list
			grid-template-columns: repeat(3, 1fr)
		&__text
			br
				display: none

	.order
		&__title
			margin-bottom: 8px
		&__subtitle
			font-size: 24px
			margin-bottom: 24px

	.gallery
		&__title
			margin-bottom: 32px
		&__slider
			&-arrow
				&.swiper-button-prev
					left: 95px
				&.swiper-button-next
					right: 95px

	.delivery
		&__img
			height: 530px
			margin-left: -370px
		&__info
			max-width: 525px
			padding-left: 32px
			padding-top: 0
		&__title
			margin-bottom: 24px
		&__list
			gap: 24px
			margin-left: 0
		&__text
			padding-left: 16px
		&__btn
			margin-top: 48px

	.why
		&__title
			margin-bottom: 32px
		&__list
			margin: -8px
			justify-content: center
		&__item
			padding: 32px 24px
			margin: 8px
			width: calc(50% - 16px)
			&.--w2
				width: calc(50% - 16px)
			&:nth-of-type(1)
				.why
					&__img
						right: -80px
			&:nth-of-type(3)
				.why
					&__img
						right: -110px
						bottom: 0
			&:nth-of-type(4)
				.why
					&__img
						right: -60px
						bottom: 0
			&:nth-of-type(5)
				.why
					&__img
						right: -20px
						bottom: 30px
		&__decor
			&-item
				&:nth-of-type(4)
					top: 220px

	.reviews
		&__slider
			&-arrow
				&.swiper-button-prev
					left: 0
				&.swiper-button-next
					right: 0

	.quest
		padding: 40px 0 100px
		&__title
			margin-bottom: 16px
		&__form
			.form
				&__btn
					font-size: 16px
		&__call
			margin-top: 48px

	.contacts
		&__wrap
			max-width: 580px
		&__info
			padding: 32px 32px 48px
		&__img
			height: 190px
			max-width: 270px
			margin-right: 16px
