.field {
  width: 100%;
  display: block;
  position: relative;
  transition: var(--transition);
}
.field__wrap {
  position: relative;
}
.field__icon {
  z-index: 1;
  top: 50%;
  left: 28px;
  max-width: 20px;
  transform: translateY(-50%);
  position: absolute;
}
.field__area {
  width: 100%;
  font-size: 18px;
  padding: 35px 24px 35px 66px;
  box-shadow: inset 0px 1px 9px rgba(225, 225, 225, 0.45);
  background: #F4F8FB;
  color: var(--color-black);
  font-family: var(--font-main);
  transition: var(--transition);
  border-radius: var(--border-sm);
  position: relative;
}
.field__area::placeholder {
  opacity: 1;
  color: #828B9A;
  transition: var(--transition);
}
.field__area:focus::placeholder {
  opacity: 0;
}
.field.--error .field__area {
  color: red;
}