@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular.svg#Gilroy-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.svg#Gilroy-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.eot");
  src: url("../fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype"), url("../fonts/Gilroy-Semibold.svg#Gilroy-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.svg#Gilroy-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-main: "Gilroy", sans-serif;
  --font-size-main: 16px;
  --color-primary: #FBCC50;
  --color-secondary: #4FA559;
  --grad-primary: linear-gradient(227.75deg, #F9E3AE 5%, #FCC532 76%);
  --grad-primary-hover: linear-gradient(227.75deg, #FCC532 5%, #FCC532 76%);
  --color-black: #1B1B1B;
  --color-white: #FFFFFF;
  --color-gray: #F5F5F5;
  --color-gray-2: #818181;
  --color-dark: #202020;
  --color-text: #333333;
  --transition: .3s ease-in-out;
  --border-sm: 8px;
  --border-md: 10px;
  --border: 16px;
}

*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:focus {
  outline: none !important;
}

html, body {
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  color: var(--color-black);
  font-family: var(--font-main);
  font-size: var(--font-size-main);
  background: var(--color-white);
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  display: inline;
}

ol, ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  display: block;
  list-style-image: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

a {
  color: var(--color-black);
  font-family: var(--font-main);
  font-size: var(--font-size-main);
  transition: var(--transition);
  text-decoration: none;
  outline: none;
  display: block;
}

input, textarea, button {
  outline: none;
  appearance: none;
  background: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}

input:-webkit-autofill {
  transition: all 5000s ease-in-out 0s;
}

var {
  font-style: normal;
}

strong {
  font-weight: 700;
}

i {
  font-style: normal;
}

u {
  text-decoration: none;
}

picture, img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

svg {
  display: block;
  transition: var(--transition);
}

path, circle, rect, line {
  transition: var(--transition);
}

.case {
  width: 1220px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  position: relative;
}
.case .case {
  width: auto;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 1280px) {
  .case {
    width: 960px;
  }
}
@media screen and (max-width: 1024px) {
  .case {
    width: 730px;
  }
}
@media screen and (max-width: 767px) {
  .case {
    width: 560px;
  }
}
@media screen and (max-width: 580px) {
  .case {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  z-index: 1;
  width: 100%;
  min-height: 100px;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.3px;
  transition: var(--transition);
  border-radius: var(--border);
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  cursor: pointer;
  display: flex;
}
.btn__img {
  top: -20px;
  right: -30px;
  position: absolute;
}
.btn.--primary {
  color: #855428;
  box-shadow: 0px 4px 0px #CD9403, inset 0px 0px 20px rgba(255, 255, 255, 0.55);
}
.btn.--primary:before, .btn.--primary:after {
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: var(--border);
  transition: var(--transition);
  content: "";
}
.btn.--primary:before {
  background: var(--grad-primary);
}
.btn.--primary:after {
  opacity: 0;
  background: var(--grad-primary-hover);
}
.btn.--primary:hover:after {
  opacity: 1;
}
.btn.--md {
  min-height: 78px;
}
.btn.--sm {
  min-height: 68px;
}
.btn.--img {
  padding: 5px 48px;
  justify-content: flex-start;
}

.field {
  width: 100%;
  display: block;
  position: relative;
  transition: var(--transition);
}
.field__wrap {
  position: relative;
}
.field__icon {
  z-index: 1;
  top: 50%;
  left: 28px;
  max-width: 20px;
  transform: translateY(-50%);
  position: absolute;
}
.field__area {
  width: 100%;
  font-size: 18px;
  padding: 35px 24px 35px 66px;
  box-shadow: inset 0px 1px 9px rgba(225, 225, 225, 0.45);
  background: #F4F8FB;
  color: var(--color-black);
  font-family: var(--font-main);
  transition: var(--transition);
  border-radius: var(--border-sm);
  position: relative;
}
.field__area::placeholder {
  opacity: 1;
  color: #828B9A;
  transition: var(--transition);
}
.field__area:focus::placeholder {
  opacity: 0;
}
.field.--error .field__area {
  color: red;
}

:root {
  --font-main: "Gilroy", sans-serif;
  --font-size-main: 16px;
  --color-primary: #FBCC50;
  --color-secondary: #4FA559;
  --grad-primary: linear-gradient(227.75deg, #F9E3AE 5%, #FCC532 76%);
  --grad-primary-hover: linear-gradient(227.75deg, #FCC532 5%, #FCC532 76%);
  --color-black: #1B1B1B;
  --color-white: #FFFFFF;
  --color-gray: #F5F5F5;
  --color-gray-2: #818181;
  --color-dark: #202020;
  --color-text: #333333;
  --transition: .3s ease-in-out;
  --border-sm: 8px;
  --border-md: 10px;
  --border: 16px;
}

.h1 {
  font-size: 48px;
  line-height: 62px;
}

.h2 {
  font-size: 40px;
  line-height: 58px;
}

.h3 {
  font-size: 32px;
  line-height: 38px;
}

.h4 {
  font-size: 22px;
  line-height: 34px;
}

.h5 {
  font-size: 18px;
  line-height: 28px;
}

.t1 {
  font-size: 12px;
  line-height: 21px;
}

.inner {
  overflow: hidden;
}

.overflow-disable {
  overflow: hidden;
}

.pt0 {
  padding-top: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.tac {
  text-align: center;
}

.bg {
  z-index: 1;
  position: relative;
}
.bg-img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: absolute;
}
.bg-img picture, .bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover picture, .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
}
.logo__img {
  width: 127px;
}
.logo__text {
  width: calc(100% - 127px);
  color: var(--color-gray-2);
  padding-left: 64px;
  position: relative;
}
.logo__text:before {
  left: 32px;
  top: 50%;
  width: 1px;
  height: 100%;
  transform: translateY(-50%);
  background: #D3D3D3;
  position: absolute;
  content: "";
}

.link {
  font-weight: 600;
  color: var(--color-secondary);
  text-decoration: underline;
  text-underline-offset: 2px;
}
.link:hover {
  text-decoration-color: transparent;
}

.inline {
  display: inline;
}

.tel {
  font-feature-settings: "tnum" on, "lnum" on;
}

.decor-item {
  position: absolute;
}

.decor-bottom {
  bottom: 0;
  left: 50%;
  width: 100%;
  z-index: -1;
  transform: translateX(-50%);
  position: absolute;
}

.bg-green {
  font-weight: 600;
  padding: 2px 5px;
  background: var(--color-secondary);
  border-radius: var(--border-sm);
}

.form {
  width: 100%;
  padding: 46px 30px;
  box-shadow: 0px 4px 92px rgba(0, 0, 0, 0.07);
  background: var(--color-white);
  border-radius: var(--border);
}
.form__title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}
.form__subtitle {
  margin-bottom: 24px;
  color: #545454;
}
.form__fields {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.form__btn {
  margin-top: 30px;
}
.form__policy {
  margin-top: 30px;
  font-size: 12px;
  line-height: 18px;
  color: #828B9A;
}
.form__policy a {
  font-size: 12px;
}

.side-panel {
  top: 50%;
  right: 0;
  z-index: 50;
  min-width: 120px;
  transform: translateY(-50%);
  transition: var(--transition);
  position: fixed;
}
.side-panel__list {
  gap: 8px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.side-panel__item {
  width: 110px;
  min-height: 100px;
  color: var(--color-white);
  background: linear-gradient(236.26deg, #DA9F00 -0.24%, #FAC22B -0.23%, #DA9F00 73.63%);
  border-radius: var(--border) 0 0 var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.side-panel__item:hover {
  width: 120px;
}
.side-panel a[href^="https://wa.me/"] {
  background: #12C868;
}
.side-panel__text {
  font-size: 12px;
  margin-top: 8px;
}
.side-panel__close {
  width: 35px;
  height: 35px;
  left: 50%;
  margin-top: 12px;
  margin-left: 8px;
  border-radius: 50%;
  transform: translateX(-50%);
  background: linear-gradient(227.75deg, #DA9F00 5.11%, #FCC532 76.14%);
  transition: var(--transition);
  position: absolute;
  cursor: pointer;
}
.side-panel__close:before {
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%);
  background: url("../../uploads/icons/close.svg") no-repeat;
  background-size: contain;
  position: absolute;
  content: "";
}
.side-panel.--closed {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.intro {
  padding: 146px 0 170px;
  overflow: hidden;
}
.intro__info {
  width: 100%;
  max-width: 690px;
}
.intro__label {
  font-weight: 600;
  padding: 10px 25px;
  margin-bottom: 14px;
  color: #A1AEC5;
  background: rgba(192, 211, 242, 0.4);
  border-radius: var(--border);
  width: max-content;
}
.intro__title {
  margin-bottom: 18px;
}
.intro__subtitle {
  padding-left: 78px;
  position: relative;
}
.intro__subtitle:before {
  left: 0;
  top: 18px;
  width: 55px;
  height: 3px;
  background: var(--color-secondary);
  position: absolute;
  content: "";
}
.intro__act {
  margin-top: 42px;
}
.intro__btn {
  max-width: 358px;
}
.intro__desc {
  max-width: 230px;
  margin-left: 100px;
  margin-top: -30px;
  line-height: 22px;
  font-size: 14px;
  position: relative;
}
.intro__desc:before {
  left: -58px;
  bottom: 30px;
  width: 78px;
  height: 18px;
  background: url("../../uploads/icons/arrow-decor.svg") no-repeat;
  background-size: contain;
  position: absolute;
  content: "";
}
.intro__preview {
  width: calc(100% - 690px);
  display: flex;
  flex-direction: column;
}
.intro__img {
  width: 100%;
  position: absolute;
}
.intro__note {
  z-index: 1;
  left: 28px;
  margin-bottom: 28px;
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.intro__note:before {
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 230px;
  height: 230px;
  transform: translate(-50%, -50%);
  background: url("../../uploads/icons/note-bg.svg") no-repeat;
  background-size: contain;
  position: absolute;
  content: "";
}
.intro__note-icon {
  margin-bottom: 14px;
}
.intro__note-text {
  width: 100%;
  max-width: 160px;
}
.intro__note-text p {
  margin-bottom: 8px;
}
.intro__note-text p:last-child {
  margin-bottom: 0;
}
.intro__decor-item:nth-of-type(1) {
  left: 0;
  bottom: 0;
}
.intro__decor-item:nth-of-type(2) {
  right: 0;
  bottom: 0;
}
.intro__decor-item:nth-of-type(3) {
  top: 0;
  right: 0;
}

.pros {
  z-index: 2;
  margin-top: -120px;
  position: relative;
}
.pros__list {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.pros__item {
  min-height: 220px;
  padding: 16px 30px 24px;
  border-radius: var(--border);
  background: var(--color-white);
  box-shadow: 0px 44px 92px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
}
.pros__item:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 14px);
  height: calc(100% - 14px);
  border: 1px solid #D6D6D6;
  border-radius: var(--border);
  position: absolute;
  content: "";
}
.pros__icon {
  margin-bottom: 5px;
}
.pros__name {
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 8px;
}
.pros__text {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-gray-2);
}

.quiz {
  padding: 40px 0 116px;
  position: relative;
}
.quiz__title {
  margin-bottom: 40px;
}
.quiz__wrap {
  min-height: 710px;
  background: var(--color-white);
  border-radius: var(--border);
  box-shadow: 0px 16px 92px rgba(0, 0, 0, 0.07);
}
.quiz__decor-item:nth-of-type(1) {
  top: -50px;
  left: -350px;
}
.quiz__decor-item:nth-of-type(2) {
  bottom: 220px;
  right: -300px;
}

.consult {
  padding: 78px 0 96px;
}
.consult__info {
  z-index: 1;
  width: 100%;
  max-width: 440px;
  color: var(--color-white);
  position: relative;
}
.consult__title {
  font-weight: 700;
  margin-bottom: 20px;
}
.consult__subtitle {
  font-size: 24px;
  line-height: 36px;
}
.consult__pros {
  gap: 25px;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.consult__pros-item {
  width: 100%;
  padding: 32px 32px 32px 40px;
  max-width: 416px;
  box-shadow: 0px 24px 92px rgba(0, 0, 0, 0.27);
  background: var(--color-white);
  border-radius: var(--border);
  color: var(--color-black);
  position: relative;
}
.consult__pros-item:before {
  top: 50%;
  left: -23px;
  width: 46px;
  height: 46px;
  transform: translateY(-50%);
  background: url("../../uploads/icons/check-border.svg") no-repeat;
  background-size: contain;
  position: absolute;
  content: "";
}
.consult__preview {
  left: 50%;
  bottom: -96px;
  margin-left: -15px;
  transform: translateX(-50%);
  position: absolute;
}
.consult__img {
  max-width: 590px;
}
.consult__person {
  z-index: 1;
  left: 50%;
  bottom: 140px;
  transform: translateX(-50%);
  color: var(--color-white);
  position: absolute;
  width: max-content;
}
.consult__person-name {
  padding: 10px 42px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}
.consult__person-name:before {
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) skew(-18deg);
  background: var(--color-secondary);
  border-radius: var(--border-sm);
  position: absolute;
  content: "";
}
.consult__person-duty {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 14px;
}
.consult__form {
  z-index: 1;
  max-width: 463px;
  margin-left: auto;
  position: relative;
}

.type {
  padding: 54px 0 88px;
  position: relative;
}
.type__title {
  margin-bottom: 38px;
}
.type__list {
  gap: 14px 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.type__item {
  padding: 8px;
  min-height: 440px;
  box-shadow: 0px 44px 92px rgba(0, 0, 0, 0.07);
  background: var(--color-white);
  border-radius: var(--border);
  flex-direction: column;
  display: flex;
}
.type__img {
  height: 190px;
  border-radius: var(--border) var(--border) 0 0;
  overflow: hidden;
}
.type__info {
  display: flex;
  flex-direction: column;
  height: calc(100% - 190px);
}
.type__name {
  font-weight: 700;
  margin: 20px 0;
}
.type__text {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 16px;
  color: var(--color-text);
}
.type__btn {
  margin-top: auto;
}
.type__decor-item:nth-of-type(1) {
  bottom: 50px;
  left: 0;
}
.type__decor-item:nth-of-type(2) {
  top: 0;
  right: 0;
}